<h2 class="f-fun">Create an Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field p-sm-b">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, :size=> '70%' %>
  </div>

  <div class="field p-sm-b">
    <%= f.label :email %><br />
    <%= f.email_field :email, :size=> '70%' %>
  </div>

  <div class="field p-sm-b">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :size=> '70%' %>
  </div>

  <div class="field p-sm-b">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :size=> '70%' %>
  </div>

  <div class="actions p-sm-b">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>
