<% @posts.each do |post| %>
  <h1 class="f-fun fz-std"><%= post.title %></h1>
  <h3 class="f-fun"><%= post.created_at.strftime("%d %b. %Y") %></h3>
  <p><%= post.paragraph_one %></p>
  <p><%= link_to 'read more', post_path(post) %></p>
<% end %>

<button id="new-post">Create New Post</button>
<%= render 'form' %>
<div id="mask"></div>

