<p>One post.</p>
<%= @post.title %>
<%= @post.content %>

<div class="comment-section">
  <p>Comments</p>
  <% @post.comments.each do |comment| %>
    <%= comment.content %>
    <%# comment.user.email %>
  <% end %>
</div>

<% if user_signed_in? %>

  PUT COMMENT FORM HERE.

<% else %>
  <p><%= link_to 'Register', new_user_registration_path %> or <%= link_to 'login', new_user_session_path %> to leave a comment.</p>
<% end %>


<%= link_to 'share some thoughts', new_post_comment_path(@post), :class => 'create-post-link' %>

<div class="comment-form">
  <%= form_for :comment, url: post_comments_path(@post) do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Post!" %>
    </div>
  <% end %>

</div>

