<main>
	<section class="bg-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Streetlamp Harvest</h1>
					<h3>A blog about decorative vegetables in Chicago and its surrounding neighborhoods.</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-transparent">
		<div class="container">
			<div class="row">
				<div class="text col-lg-12">
				  	<div class="notice"><%= notice %></div>
	  				<div class="alert"><%= alert %></div>
					<p>Americans are at war with their lawns. In drought-ravaged California, the environmentally conscious and socially trendy now debase their neighbors for maintaining pristine front-yards, a chagrin-inducing practice known as "lawn shaming." At the same time, exacting water limitations necessitate <a href="https://www.youtube.com/watch?v=1Q792AIQ8qw" target="_blank">brown landscapes</a>, plastic turf, and, most creatively, painted grass. And some homeowners now envision front- and backyards as tiny ecosystems, rich with native plants that do not require water. Beyond California, the front-yard is becoming a place for edible vegetation: <a href="http://www.foodnotlawns.com/" target="_blank">Food Not Lawns</a>, among other grassroots organizations, advocates for healthful food production in lieu of vanity lawn care.</p>
					<p>But then there's Rome, home to <a href="http://travel.nationalgeographic.com/travel/city-guides/rome-walking-tour-2/" target="_blank">Via Vittorio Veneto</a>, or simply Via Veneto – one of the more unabashedly extravagant streets in Italy. Cutting through the Villa Borghese, Via Veneto offers a glimpse into the life of Europe's wealthy elite, whose lifestyles <a href="http://www.cnn.com/videos/world/2015/08/18/spc-one-square-meter-rome-via-veneto.cnn" target="_blank">still resonate, if softly,</a> with the lavish excess of Federico Fellini's film <em>La dolce vita</em>, which features Via Veneto at its height. The street contains significant markers of money, notably, the lush orange trees that line its sidewalks. These oranges are not for eating, however. Rather, they provide aesthetic enjoyment, touches of casual beauty for its own sake. It is this refashioning of a usable and, in this case, edible object that signifies wealth, reminding tourists and Roman residents of the financial potential of Via Veneto.</p>
					<p>Thus, the Chicago cabbage. Cabbages currently monopolize the once-flower gardens of Chicagoland. A fixture on Michigan Avenue, Oak, and Rush Street, these vegetables closely resemble the orange trees of Via Veneto: they symbolize prosperity, good fortune, and excess. Not for consumption, the decorative cabbage smiles happily, sitting next to plotted flowers and streetlamps, a mockingly pleasant reminder of Chicagoan opulence.</p>
					<p>This blog explores the urban harvests of Chicago. Each post features a cabbage or other decorative vegetable and describes, not only the aesthetic appeal of the plant, but also its edibility. Renewing the Chicago cabbage of its utilitarian function, this blog contemplates and playfully confronts the idea of vanity gardens and what they might signify.</p>
				</div>
			</div>
		</div>
	</section>

		<!-- <div class="spopup" style="display: none;">
		    <a class="close fl-r">close</a>
		    <p class="p-m-t">Join the Streetlamp Harvest community: add comments to blog posts, share ideas, and contriute to the conversation. Click on the tomato, and get started!</p>
		</div> -->

	<section class="bg-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">		
					<h1>Regina Compton</h1>
					<h3>Streetlamp Harvest, blog author</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-bio">
		<div class="container">
			<div class="row">
				<div class="text col-lg-12">
					<p>Regina does not have a front-yard, backyard, or side-yard, nor a porch or fire escape upon which to grow herbs, flowers, and jalapeno peppers. Instead, she resides in a 180-square-foot apartment in the heart of Chicago, where she can appreciate, envy, and despise the miniature gardens that line the streets of her neighborhood.</p>
					<p>Currently, Regina is learning about computer languages and the behind-the-scenes stories of the Internet. Feel free to send her an email (<a href="mailto:reginafcompton@gmail.com">reginafcompton@gmail.com</a>), or follow her on Twitter, Github, and LinkedIn.</p>
					<ul class="social">
					  <li class="lis-n d-il p-xxs"><a href="https://twitter.com/reginafcompton" target="_blank"><%= image_tag("social_02.png") %></a></li>
					  <li class="lis-n d-il p-xxs"><a href="https://github.com/reginafcompton" target="_blank"><%= image_tag("social_14.png") %></a></li>
					  <li class="lis-n d-il p-xxs"><a href="https://www.linkedin.com/pub/regina-compton/33/975/38b" target="_blank"><%= image_tag("social_06.png") %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</main>
