<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>StreetlampHarvest</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Amatic+SC|Quicksand|Londrina+Sketch' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="bgc-night">
    <header class="container t-ivory f-fun">
      <nav>
      <ul class="fz-lg">
        <% if user_signed_in? %>
          <li class="fl-l lis-n p-sm-t"><%= link_to image_tag("carrot.png"), destroy_user_session_path, :method => 'delete' %></li>
        <% else %>
          <li class="fl-l lis-n p-sm-t"><%= link_to image_tag("tomato.png"), new_user_session_path %></li>
        <% end %>

        <li class="fl-r lis-n p-xxs"><%= link_to 'home', root_path %></li>
        <li class="fl-r lis-n p-xxs"><%= link_to 'posts', posts_path %></li>

      </ul>
      </nav>

    </header>
  </div>

  <div class="img">
  </div>

<main class="container row gutters-t gutters-d p-lg-b">
  <div class="col span-12-t p-xxs f-std fz-std ta-j text">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </div>

<!--   <div class="col span-3-t p-xxs f-std">
    <h3 class="fz-lg p-sm-t">Recent Highlights</h3>
      <ul>
        <li class="lis-n p-xxs fz-sm"><%# link_to 'University of Chicago', post_path(@trend_post) %></li>
      </ul>
    <h3 class="fz-lg p-sm-t">Archives</h3>
      <ul>
        <li class="lis-n p-xxs fz-sm">October 2015</li>
        <li class="lis-n p-xxs fz-sm">November 2015</li>
      </ul>
    </div> -->
</main>

<footer class="p-xs ta-c bgc-day f-fun fz-lg">
  <% if logged_in_admin %>
    <%= link_to image_tag("eggplant.png"), logout_path %>
  <% else %>
    <div><a id="admin-login"><%= image_tag("cabbage.png", height: '80', width: '80') %></a></div>
    <%= render 'admin/login' %>
    <div id="mask"></div>
  <% end %>
    <div class="">Copyright &copy; Regina Frances Compton 2015</div>
</footer>

</body>
</html>
