<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>StreetlampHarvest</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Amatic+SC|Quicksand|Londrina+Sketch' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed transparent-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Streetlamp Harvest", about_index_path, class: "navbar-brand" %>
    </div>
    <div id="navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="/"></a></li>
        <li><%= link_to "posts", posts_path %></li>
        <li><%= link_to "login", new_user_session_path %></li>
      </ul>
    </div>
  </div>  
</nav>
<!-- 
  <div class="bgc-night">
    <header class="container t-ivory f-fun">
      <nav>
      <ul class="fz-lg">
        <%# if user_signed_in? %>
          <li class="fl-l lis-n p-sm-t"><%= link_to image_tag("carrot.png"), destroy_user_session_path, :method => 'delete' %></li>
        <%# else %>
          <li class="fl-l lis-n p-sm-t"><%= link_to image_tag("tomato.png"), new_user_session_path %></li>
        <%# end %>

        <li class="fl-r lis-n p-xxs"><%= link_to 'home', root_path %></li>
        <li class="fl-r lis-n p-xxs"><%= link_to 'posts', posts_path %></li>

      </ul>
      </nav>

    </header>
  </div>

  <div class="img">
  </div> -->


  <%= yield %>


<footer class="p-xs ta-c bgc-day f-fun fz-lg">
  <%# if logged_in_admin %>
    <%#= link_to image_tag("eggplant.png"), logout_path %>
  <%# else %>
    <!-- <div><a id="admin-login"><%= image_tag("cabbage.png", height: '80', width: '80') %></a></div> -->
    <%#= render 'admin/login' %>
    <!-- <div id="mask"></div> -->
  <%# end %>
    <div class="">Copyright &copy; Regina Frances Compton 2015</div>
</footer>

</body>
</html>
