<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>StreetlampHarvest</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Amatic+SC|Quicksand|Londrina+Sketch' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="bgc-night">
    <header class="container t-ivory f-fun debug">
      <div id="nav-trigger" class="fl-l p-xxs">
        <span>Menu</span>
      </div>
      <nav id="nav-main">
      <ul class="fl-r fz-lg">

        <li class="fl-l lis-n p-xxs"><%= link_to 'home', root_path %></li>
        <li class="fl-l lis-n p-xxs"><%= link_to 'posts', posts_path %></li>

        <% if user_signed_in? %>
          <li class="fl-l lis-n p-xxs"><%= link_to "logout", destroy_user_session_path, :method => 'delete' %></li>
        <% else %>
          <li class="fl-l lis-n p-xxs"><%= link_to "login", new_user_session_path %></li>
        <% end %>

      </ul>
      </nav>
    </header>
  </div>

  <div class="img debug">
    <!-- <h1 class="p-sm-b t-ivory fz-xxl f-std ta-c shadow"> </h1> -->
  </div>

<main class="container row gutters-t gutters-d debug">
  <div class="col span-12-t p-xxs f-std fz-std ta-j debug">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </div>

<!--   <div class="col span-3-t p-xxs f-std debug">
    <h3 class="fz-lg p-sm-t">Recent Highlights</h3>
      <ul>
        <li class="lis-n p-xxs fz-sm"><%# link_to 'University of Chicago', post_path(@trend_post) %></li>
      </ul>
    <h3 class="fz-lg p-sm-t">Archives</h3>
      <ul>
        <li class="lis-n p-xxs fz-sm">October 2015</li>
        <li class="lis-n p-xxs fz-sm">November 2015</li>
      </ul>
    </div> -->
</main>

<footer class="p-xxs ta-c bgc-day f-fun fz-lg debug">
  <p>Copyright &copy; Regina Frances Compton 2015</p>
</footer>

</body>
</html>
